body {
	-webkit-text-size-adjust: none;
	color: #B2D665;
	font-size: 1em;
	font-family: "Helvetica Neue", Ubuntu, "WenQuanYi Micro Hei", Helvetica, "Hiragino Sans GB", "Microsoft JhengHei", "PMingLiU", Arial, sans-serif;
	-webkit-font-smoothing:antialiased;
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	margin: 0px;
	line-height: 1.6em;
	padding: 0px;
	background-color: rgb(51, 34, 34);
	overflow-x: hidden;
}
#Frames, .Frame {
	list-style: none;
	list-style-type: none;
	margin: 20px;
	padding: 0px;
	text-align: center;
	display: block;


	
}
#Frames {
  margin: 5% ;
	width: 90%;
	text-align: center;	
}
.Frame {
	display: inline-block;
	padding: 100px;
	border-width: 40px;
	border-style: solid;
	border-color: #8f7001 #856800 #6d5200 #816602;


	background: #f5f5f5;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E5E4DF), to(#CDCDC6));
	background-image: -webkit-linear-gradient(#E5E4DF, #CDCDC6);
	background-image: -moz-linear-gradient(#E5E4DF, #CDCDC6);
	background-image: -o-linear-gradient(#E5E4DF, #CDCDC6);
	background-image: linear-gradient(#E5E4DF, #CDCDC6);
	box-shadow: inset 0 2px 5px rgba(0,0,0,.6),0 5px 2px rgba(0,0,0,.1), 0 10px 20px rgba(0,0,0,.8);
	position: relative;
	overflow: hidden;
}
.Frame::before {
	content: "";
	position: absolute;
	top: -175px;
	right: -20%;
	width: 400px;
	height: 400px;
	transform: rotateZ(-40deg);
	-webkit-transform: rotateZ(-40deg);
	-moz-transform: rotateZ(-40deg);
	-o-transform: rotateZ(-40deg);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,.4)), to(rgba(255,255,255,0)));
	background-image: -webkit-linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
	background-image: -moz-linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
	background-image: -o-linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
	background-image: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
}
.Frame img {
	border-width: 2px;
	border-style: solid;
	border-color: #BBBAB4 #C7C7BF #BBBAB4 #C7C7BF;
	box-shadow:  0 -1px 1px rgba(0,0,0,.1), 0 1px 1px 1px rgba(255,255,255,.7);
}


.Frame img {
    display: block;
  }
  
  .Frame::after {
    content: "";
    display: block;
    background-color: #6d5200;
    width: 50%;
    height: 150px;
    position: absolute;
    bottom: 45;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    margin-top: 10px;

    background-position: center;
    background-size: contain;
	background-repeat: no-repeat;
    background-image: url('name.png'), -webkit-gradient(linear, 0 0, 0 100%, from(#f1e6c2), to(#6d5200));
	background-image: url('name.png'), -webkit-linear-gradient(#e9dcb4, #6d5200);
	background-image: url('name.png'), -moz-linear-gradient(#d3b762, #6d5200);
	background-image: url('name.png'), -o-linear-gradient(#d3b762, #6d5200);
	background-image: url('name.png'), linear-gradient(#d3b762, #6d5200);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.6),0 1px 1px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,0,.8);
  }

	.Frame {
    padding-bottom: 250px;
	}

